.root {
  display: inline-flex;
  border: 0;
  padding: 8px 16px;
  background: rebeccapurple;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.icon {
  margin-right: 8px;
}
